@charset "utf-8"; 
/* header */
.header_dark { position: fixed; top: 0; right: 0; left: 0; min-width: 1240px; height: 86px; text-align: center; z-index: 100; box-sizing: border-box; background-color: rgba(0, 0, 0, 0.8); transition: all 0.3s ease-in-out; border-bottom: 1px solid rgba(255,255,255,.05); } 
.header_dark.up { background-color: #000; border-bottom: 1px solid #222; z-index: 200; filter: invert();} 
.wrapper .header_dark {filter: invert(100%); } 
.wrapper .header_dark .menu_sub_list { border-bottom: 1px solid #2c2c2c; } 
.animation { overflow: hidden; width: 100%; position: absolute; height: 1517px; } 
.circle_right { width: 500px; height: 500px; position: absolute; top: -100px; right: -100px; background: radial-gradient(rgb(95, 221, 167), rgb(104, 223, 154),rgb(0, 204, 165)); border-radius: 100%; animation: right 6s infinite; } 
.circle_left { width: 200px; height: 200px; border-radius: 250px; border: 120px solid transparent; background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #6aecc3, #81eecd, #69e5f7); position: absolute; left: -300px; top: 778px; animation: left 10s infinite; background-origin: border-box;
    background-clip: content-box, border-box;} 
@keyframes right { 
 0% { transform: translatex(50px) translatey(-30px) } 
50% { transform: translatex(20px) translatey(20px); } 
100% { transform: translatex(50px) translatey(-30px) } 
 }

 @keyframes left { 
33% { transform: translateX(0); } 

 66% { transform: translateX(50px); } 
 }

.wrapper .bg_02 { position: absolute; top: 1517px; left: 0; right: 0; height: 972px; background-image: linear-gradient(to top, #f2f5f8, #fff); } 
.header { width: 1140px; height: 100%; margin: 0 auto; z-index: 10;  } 
.header .logo { float: left; margin-top: 32px; } 
.header .logo_link::before { content: ''; display: block; width: 145px; height: 22px; background: url(../img/sp_svg_icon.png) no-repeat -4px -4px; } 

/* nav 전체메뉴 */
#nav { float: left;} 
#nav ul.menu_list { margin-left: 123px; text-align: center; font-size: 0; } 
#nav ul.menu_list li.item { display: inline-block; } 
#nav ul.menu_list li.item a.menu_link { display: block; height: 86px; padding: 34px 36px; color: rgba(255, 255, 255, .6); font-size: 16px; line-height: 16px; letter-spacing: -.25px; box-sizing: border-box; } 
#nav ul.menu_list .item:hover #header {display: none;}
#nav a.menu_link:hover .item_wrap { color: #fff; border-bottom: 1px solid #fff; } 
#nav .menu_sub_list { display: none; background-color: rgba(0, 0, 0, 0.8); position: absolute; top: 86px; left: 0; right: 0; z-index: 999; min-height: 139px; padding: 20px 0; min-width: 1176px; } 
.wrapper #nav .menu_sub_list { background-color: #000; } 
#nav .item.on>.menu_sub_list { display: block; } 
#nav .menu_list .menu_sub_list .sub_item+.sub_item { margin-left: 130px; } 
#nav .sub_item { display: inline-block; vertical-align: top; } 
#nav .menu_item_link { display: block; padding: 10px 0; font-size: 15px; font-weight: 700; line-height: 15px; color: rgba(255, 255, 255, .6); text-align: left; letter-spacing: -.35px; } 
.hBtn { float: right; margin-top: 27px; font-size: 0; } 
.hBtn a { color: rgba(255, 255, 255, 1); font-weight: thin; display: inline-block; padding: 8px 14px; font-size: 12px; box-sizing: border-box; line-height: 14px; border: .5px solid rgba(255, 255, 255, .5); border-radius: 4px; margin-left: 8px; transition: all .3s ease; } 
.hBtn a:hover { color: rgba(0,0,0,1); background-color: rgba(255, 255, 255, 3); font-weight: bold;} 

/* contents 슬라이더 */
.wrap { min-width: 1280px; min-height: 100%; background-color: #fff; text-align: center; } 
main .btn_more { margin-top: 25px; padding: 0 32px 0 33px; font-size: 16px; font-weight: 900; line-height: 48px; box-sizing: border-box; display: inline-block; vertical-align: top; border: 1px solid #fff; border-radius: 28px; color: #fff; } 
#contents .slide_wrap { position: relative; overflow: hidden; min-height: 557px; height: 82vh; margin-top: -86px; } 
#contents .slide_wrap .btn_more:hover { border-color: #05d695; background: #05d695; } 
#contents .slide_container { position: absolute; width: 100%; } 
#contents .slide_container.animate { transition: all .3s ease-in-out; } 
#contents .slide_wrap .slide { position: absolute; left: 0; width: 100%; height: 82vh; text-align: center; overflow: hidden; } 
#contents .slide:nth-child(1) { background-size: cover; background-position: 50% 100%; background-image: url(../img/main_lamp.jpg); } 
#contents .slide:nth-child(2) { background-size: cover; background-position: 50% 100%; background-image: url(../img/main_clock_plus.png); } 
#contents .slide video { width: 100%; height: 100%; object-fit: cover; } 
#contents .slide .txt_area { position: absolute; top: 50%; right: 0; left: 0; transform: translateY(-50%); } 

@keyframes transform_y { 
 0% { transform: translateY(15px) } 

 100% { transform: translateY(0) } 
 }

#contents .slide.fade_in .main_txt { animation: transform_y .6s ease .1s forwards, opacity .1s ease .1s forwards } 
#contents .slide.fade_in .btn_more { animation: transform_y .6s ease .1s forwards, opacity .1s ease .1s forwards } 
#contents .slide .txt_area .main_txt { display: block; margin-top: 86px; padding: 0 20px; font-size: 42px; font-weight: 900; line-height: 56px; letter-spacing: -2.63px; color: #fff; } 
#contents .slide .slim { font-weight: 400; } 
#contents .slide .due_date { display: block; margin-top: 10px; font-size: 20px; font-weight: 400; line-height: 22px; letter-spacing: -1.25px; text-align: center; color: rgba(255, 255, 255, .5); } 
#contents .slide .txt_area .main_btn { margin-top: 25px; padding: 0 32px 0 33px; font-size: 16px; font-weight: 900; line-height: 48px; -webkit-box-sizing: border-box; box-sizing: border-box; } 
#contents .slide .txt_area .main_btn:last-child { margin-left: 15px; } 
#contents .slide_wrap .pager { position: absolute; bottom: 29px; right: 0; left: 0; } 
#contents .slide_wrap .pager a { display: inline-block; width: 42px; padding: 10px 0; outline: 0; margin-left: 8px; } 
#contents .slide_wrap .pager a::before { display: block; background-color: #fff; opacity: .2; height: 3px; content: ''; } 
#contents .slide_wrap .pager a.on::before { opacity: 1; } 

/* feature */
.feature { padding: 147px 20px 150px; } 
.title { font-family: Poppins, "NanumSquare", "나눔스퀘어", "Nanum Barun Gothic", "나눔바른고딕", "Nanum Barun Gothic", "NanumGothic", "나눔고딕", "Dotum", "돋움", sans-serif; font-size: 36px; font-weight: 600; line-height: 48px; letter-spacing: -.8px; } 
.desc { margin-top: 14px; font-size: 19px; line-height: 34px; letter-spacing: -.5px; margin-top: 16px; } 
.text { margin-top: 12px; line-height: 28px; font-size: 17px; letter-spacing: -.5px; color: #4a4a4a; } 
.list_title { display: block; font-size: 24px; line-height: 33px; font-weight: 700; letter-spacing: -.4px; color: #1e1e1e; } 
.feature .feature_list { display: inline-block; margin-top: 80px; } 
.feature .feature_list li { float: left; margin-left: 112px; opacity: 0; transform: translateY(10px); } 
.feature .feature_list li:first-child { margin-left: 0; } 
.feature .feature_list.fade_in .feature_item_01 { opacity: 1; transition: opacity .6s ease-in-out .2s, transform .6s ease-in-out .15s; transform: translateY(0); } 
.feature .feature_list.fade_in .feature_item_02 { opacity: 1; transition: opacity .6s ease-in-out .2s, transform .7s ease-in-out .15s; transform: translateY(0); } 
.feature .feature_list.fade_in .feature_item_03 { opacity: 1; transition: opacity .6s ease-in-out .2s, transform .8s ease-in-out .15s; transform: translateY(0); } 
.feature .feature_list.fade_in .feature_item_04 { opacity: 1; transition: opacity .6s ease-in-out .2s, transform .9s ease-in-out .15s; transform: translateY(0); } 
.feature .feature_list .feature_item_01::before { content: ''; display: block; margin: 0 auto 32px; background-image: url(../img/sp_svg_icon.png); background-position: -4px -120px; background-repeat: no-repeat; width: 90px; height: 90px; } 
.feature .feature_list .feature_item_02::before { content: ''; display: block; margin: 0 auto 32px; background-image: url(../img/sp_svg_icon.png); background-position: -102px -120px; background-repeat: no-repeat; width: 90px; height: 90px; } 
.feature .feature_list .feature_item_03::before { content: ''; display: block; margin: 0 auto 32px; background-image: url(../img/sp_svg_icon.png); background-position: -241px -4px; background-repeat: no-repeat; width: 90px; height: 90px; } 
.feature .feature_list .feature_item_04::before { content: ''; display: block; margin: 0 auto 32px; background-image: url(../img/sp_svg_icon.png); background-position: -241px -102px; background-repeat: no-repeat; width: 90px; height: 90px; } 

.special_feature { padding: 150px 20px; background-color: #f8fafc; } 
.special_feature .text_area { text-align: left; vertical-align: middle; display: inline-block; width: 290px; } 
.special_feature_list { display: inline-block; vertical-align: middle; margin-left: 100px; text-align: left; } 
.special_feature_list li { float: left; width: 380px; height: 457px; padding: 62px 52px 60px 56px; border: 1px solid #eff3f7; border-radius: 10px; background-color: #fff; box-sizing: border-box; opacity: 0; transform: translateY(10px); } 
.special_feature_list.fade_in .feature_item_01 { opacity: 1; transition: opacity .6s ease-in-out .2s, transform .6s ease-in-out .15s; transform: translateY(0); } 
.special_feature_list.fade_in .feature_item_02 { opacity: 1; transition: opacity .6s ease-in-out .2s, transform .7s ease-in-out .15s; transform: translateY(0); } 

.feature_item_01::before { display: block; margin-bottom: 38px; content: ''; background-image: url(../img/sp_svg_icon.png); background-size: 335px 311px; background-position: -157px -4px; background-repeat: no-repeat; width: 76px; height: 89px; } 
.feature_item_02::before { display: block; margin-bottom: 38px; content: ''; background-image: url(../img/sp_svg_icon.png); background-size: 335px 311px; background-position: -4px -218px; background-repeat: no-repeat; width: 76px; height: 89px; } 
.special_feature_list li:nth-child(2) { margin-left: 30px; } 

/* banner */
.banner { position: relative; } 
.banner .btn_more:hover { color: #05d695; background: #fff; } 
.banner img { object-fit: cover; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 292px; } 
.banner .text_area { position: relative; margin-top: 60px; padding: 0 20px; color: #fff; z-index: 10; opacity: 1; transform: none; transition: none; } 

/* news */
.news { padding: 147px 20px 150px; border-bottom: 1px solid #eee; margin-top: 60px; } 
.news .text_area { opacity: 0; transform: translateY(15px); } 
.news.fade_in .text_area { opacity: 1; transition: opacity .6s ease-in-out .2s, transform .6s ease-in-out .15s; transform: translateY(0); } 
.news img { border-radius: 5px; } 
.news .text_box { padding: 40px; } 
.news .list_title { font-size: 19px; font-weight: 600; line-height: 26px; } 
.news .text { margin-top: 10px; line-height: 30px; font-size: 17px; letter-spacing: -.5px; color: #4a4a4a; } 
.news_list { margin: 80px auto 0; border-spacing: 27px 0; text-align: left; display: inline-block; } 
.news_list li { display: inline-block; margin-left: 20px; transform: translateY(10px); opacity: 0; } 
.news.fade_in .news_item_01 { opacity: 1; transition: opacity .6s ease-in-out .2s, transform .6s ease-in-out .15s; transform: translateY(0); } 
.news.fade_in .news_item_02 { opacity: 1; transition: opacity .6s ease-in-out .3s, transform .7s ease-in-out .15s; transform: translateY(0); } 
.news.fade_in .news_item_03 { opacity: 1; transition: opacity .6s ease-in-out .4s, transform .8s ease-in-out .15s; transform: translateY(0); } 
.news_list>li:first-child { margin-left: 0; } 
.news_link { display: block; width: 372px; border: 1px solid #eee; border-radius: 5px; } 

/* cloud */
.cloud { padding: 68px 0 67px; } 
.cloud .btn_more { margin-top: 25px; padding: 0 39px 0 38px; border-radius: 23px; border: 1px solid rgba(0, 0, 0, .15); font-family: Poppins, "NanumSquare", "나눔스퀘어", "Nanum Barun Gothic", "나눔바른고딕", "Nanum Barun Gothic", "NanumGothic", "나눔고딕", Dotum, "돋움", sans-serif; font-size: 16px; font-weight: 500; line-height: 44px; letter-spacing: -.18px; color: #000; } 

/* business */
.business { padding: 68px 0 67px; background: url(../img/bg_business.png) no-repeat; color: #fff; } 
.business .btn_more:hover { background: #fff; color: #05d695; } 
.business .desc { color: #eee; } 


/* products_solutions */
.products_solutions .container { padding-top: 90px; height: 100%; margin: 0 auto; } 
.products_solutions .section_intro { position: relative; height: 674px; margin-top: -90px; padding: 276px 20px 0; background-size: cover; background: url(../img/bg_ai.png) no-repeat 50% 50%; color: #fff; text-align: center; box-sizing: border-box; } 
.products_solutions .section_intro .btn_more { display: inline-block; margin-top: 40px; padding: 20px 48px; border-radius: 4px; border: 1px solid rgba(255,255,255,.5); font-size: 18px; line-height: 20px; } 

























/* section_main */
.section_main { position: relative; padding-top: 216px; text-align: left;; } 
.section_main .inner { overflow: hidden; width: 1020px; margin: 0 auto; } 
.section_main .inner::after { float: right; width: 398px; height: 750px; margin-right: 20px; background: url(../img/device_main.png); background-size: cover; content: ''; } 
.section_main .text_area { float: left; margin-top: 38px; } 
.section_main .text_area::before { background-position: 0 -892px; background-repeat: no-repeat; background: url(../img/icon_app_logo.png); background-size: cover; content: ''; display: block; width: 114px; height: 114px; margin-bottom: 40px; } 
.section_main .main_title { font-size: 50px; font-weight: 900; line-height: 54px; letter-spacing: -2px; } 
.section_main .btn_box { margin-top: 50px; font-size: 0; } 
.section_main .btn_box .btn_download { display: inline-block; vertical-align: top; padding: 0 22px; border: 1px solid #d2d2d2; border-radius: 28px; font-family: Poppins,NanumSquare,나눔스퀘어,Nanum Barun Gothic,나눔바른고딕,"Nanum Barun Gothic",NanumGothic,"나눔고딕",sans-serif; font-size: 17px; font-weight: 400; line-height: 56px; color:rgba(0,0,0,.8); letter-spacing: -1px; } 
.section_main .btn_download+.btn_download { margin-left: 14px; } 
.section_main .btn_download::before { background-position: -1182px -699px; background-repeat: no-repeat; background-image: url(../img/sp_svg_clova.png); background-size: 1690px 880px; width: 24px; height: 32px; display: inline-block; vertical-align: top; margin: 13px 7px 0 0; content: ''; } 
.section_main .btn_download.ios:before { background-position: -1214px -699px; background-repeat: no-repeat; width: 26px; height: 31px; } 

/* section_info */
.section_info { position: relative; padding-top: 173px; text-align: left; } 
.section_info .inner { width: 996px; overflow: hidden; margin: 0 auto; } 
.section_info .device_box { float: left; position: relative; padding: 22px 23px 24px; background-image: url("../img/bg_shadow.png"); } 
.section_info .img_area { overflow: hidden; width: 352px; height: 704px; border-radius: 45px; font-size: 0; position: relative;} 
.section_info .info_list { width: 2112px; white-space: nowrap; position: absolute; transition: left .3s ease;} 
.section_info .info_list [class^=info_item] { overflow: hidden; position: relative; display: inline-block; vertical-align: top; width: 352px; height: 704px; } 
.section_info .info_list [class^=info_item] img {width: 100%; transform: translateY(0); transition: all 1s cubic-bezier(.54,.03,.3,.9) .5s;}
.section_info .info_list [class^=info_item]::before {background-size: 1690px 880px; background-repeat: no-repeat; width: 358px; height: 54px; position: absolute; top: 0; left: 0; right: 0; display: block; content: ''; z-index: 10; background-color: #fafafd; } 
.section_info .info_list .info_item_02::after {content: ''; display: block; position: absolute; left: 0; right: 0; bottom: 0; width: 358px; height: 64px; z-index: 10; background: url("../img/device_bottom.png") 50% 0; background-size: cover;}
.section_info .info_list [class^=info_item].info_item_01 img {transition: all 1.2s cubic-bezier(.54,.03,.3,.9);}
.section_info .info_list [class^=info_item].info_item_02 img {transition: all 1.2s cubic-bezier(.54,.03,.3,.9);}
.section_info .info_list [class^=info_item].info_item_01.fade_in img {transform: translateY(-635px); transition-delay: .5s;}
.section_info .info_list [class^=info_item].info_item_02.fade_in img {transform: translateY(-635px); transition-delay: .5s;}
.section_info .info_list [class^=info_item].info_item_01::before {background-image: url("../img/sp_svg_clova.png"); background-position: -1328px -687px; background-color: #000;} 
.section_info .info_list [class^=info_item].info_item_02::before {background-image: url("../img/sp_svg_clova.png"); background-position: -816px -699px; background-color: #fff;} 
.section_info .info_list [class^=info_item].info_item_03::before {background-image: url("../img/sp_svg_clova.png"); background-position: -816px -699px;} 
.section_info .info_list [class^=info_item].info_item_04::before {background-image: url("../img/sp_svg_clova.png"); background-position: -816px -699px;} 
.section_info .text_area { float: left; margin: 196px 0 0 100px; } 
.section_info .title { display: block; font-size: 48px; line-height: 60px; letter-spacing: -1px; } 
.section_info .desc_list { position: relative; width: 450px; height: 102px; margin-top: 16px; } 
.section_info .desc_list .desc {display: none;}
.section_info .desc_list .desc.on {display: block;}
.section_info .paginate { margin-top: 40px; font-size: 0; }  
.section_info .paginate a { display: inline-block; width: 30px; height: 3px; padding: 10px 0; outline: 0; } 
.section_info .paginate a+a { margin-left: 8px; } 
.section_info .paginate a::before { content: ''; display: block; background-color: #e9eefe; height: 3px; } 
.section_info .paginate a.on::before { background-color: #22d487; } 

/* section_assistant */
.section_assistant { position: relative; padding-top: 245px; } 
.section_assistant .inner { margin: 0 auto; } 
.section_assistant .contents_area {overflow: hidden; position: relative; height: 710px; margin-top: 72px; background-color: #f2f5f8;}
.section_assistant .device_box {background-position: 0 0;  width: 504px; height: 687px; position: absolute; display: block; bottom: 0; left: 50%; transform: translateX(-50%);}
.section_assistant .device_box::after {content: ''; width: 504px; height: 687px; position: absolute; top: 0; left: 0; right: 0; bottom: 0;  background-image: url(../img/sp_clova.png); background-repeat: no-repeat; background-position: -508px 0;}
.section_assistant .device_box::before {content: ''; width: 504px; height: 687px; background-image: url(../img/sp_clova.png); display: block;}
.section_assistant .card_wrap {position: absolute;  top: 18px; left: 50%; bottom: 0; transform: translateX(-50%); padding-top: 150px; overflow: hidden;}
.section_assistant .card_wrap::before {content: ''; display: block; position: absolute; left: 0; bottom: 0; width: 180px; height: 714px; z-index: 10;}
.section_assistant .card_list {white-space: nowrap; font-size: 0;}
.section_assistant .card_item {display: inline-block; position: relative; overflow: hidden; vertical-align: middle; width: 456px; opacity: 0.5;}










.section_assistant .guide_area {position: relative; overflow: hidden; background-color: #edeff5; height: 180px;}
.section_assistant .guide_list {position: absolute; top: 0; left: 50%; overflow: hidden; width: 2122px; text-align: center; transform: translateX(-50%);}
.section_assistant .guide_list ul {padding: 60px 20px; position: relative; }
.section_assistant .guide_item {display: inline-block; margin-right: 20px; overflow: hidden; background-color: #fff; border-radius: 40px; box-shadow: 0 0 10px 0 rgb(121 121 126 / 8%), 0 1px 6px 0 rgb(121 121 126 / 15%); color:rgba(0,0,0,.6);}
.section_assistant .guide_item.on {background-color: #00d37a;}
.section_assistant .guide_link {display: block; padding: 20px 32px; font-size: 18px; font-weight: 700; line-height: 20px;}
/* section_user */
.section_user { position: relative; padding: 184px 163px; } 
.section_user .title {font-size: 48px;}
.section_user .desc {margin-top: 14px;}
.section_user .inner { margin: 0 auto; } 
.section_user .contents_area { margin-top: 35px; } 
.section_user .device_box { display: inline-block; position: relative; width: 398px; height: 750px; padding: 22px 23px 24px; box-sizing: border-box; vertical-align: top; margin-top: 29px; z-index: 100; background-image: url(../img/bg_shadow.png); } 
.section_user .device_box::after { content: ''; background-position: -4px -4px; background-repeat: no-repeat; width: 398px; height: 750px; display: block; position: absolute; top: 0; left: 0; bottom: 0; } 
.section_user .img_area { overflow: hidden; width: 352px; height: 704px; border-radius: 45px; } 

/* section_pin */
.section_pin { position: relative; } 
.section_pin .section_function { overflow: hidden; position: relative; text-align: left; height: 100vh; } 
.section_pin .section_function .smarthome { position: absolute; width: 100%; height: 100%; background: url(../img/bg_smarthome.jpg) 50% 50% no-repeat; background-size: cover; opacity: 0; } 
.section_pin .section_function .smarthome[aria-hidden=false] { z-index: 0; opacity: 0; } 
.section_pin .section_function .smarthome[aria-hidden=true] { z-index: 10; opacity: 1; } 
.section_pin .section_function .command[aria-hidden=false] { z-index: 0; opacity: 0; } 
.section_pin .section_function .command[aria-hidden=true] { z-index: 10; opacity: 1; } 

.section_pin .section_function .inner { width: 996px; position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%); margin: 0 auto; } 
.section_pin .section_function .text_area { display: inline-block; vertical-align: middle; width: 375px; padding-bottom: 140px; color: #fff; } 
.section_pin .section_function .text_area .title { font-size: 48px; margin-bottom: 20px; } 
.section_pin .section_function .btn_more { margin-top: 40px; } 
.section_pin .section_function .device_box { display: inline-block; vertical-align: middle; position: relative; width: 358px; height: 675px; padding: 18px; margin-left: 255px; box-sizing: border-box; } 
.section_pin .section_function .device_box:after { content: ''; position: absolute; width: 358px; height: 675px; top: 0; left: 0; right: 0; bottom: 0; background: url(../img/sp_svg_clova.png) -1328px -4px no-repeat; background-size: 1690px 880px; } 
.section_pin .section_function .device_box .img_area { overflow: hidden; width: 322px; height: 630px; border-radius: 50px; } 

.section_pin .device_box .img_area [class^=item] { position: relative; width: 282px; height: 76px; margin: 0 20px; } 
.section_pin .device_box .img_area .item_01 { margin-top: 138px; background: url(../img/icon_room.png) 0 0; background-size: cover; } 
.section_pin .device_box .img_area .item_02 { margin-top: 74px; background: url(../img/icon_concent.png) 0 0; background-size: cover; } 
.section_pin .device_box .img_area .item_03 { margin-top: 7px; background: url(../img/icon_robot.png) 0 0; background-size: cover; } 

.section_pin .section_function .pager { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); margin: 170px 0 0 -462px; z-index: 10; } 
.section_pin .section_function .pager .item { display: inline-block; width: 30px; height: 3px; padding: 10px 0; outline: 0; } 
.section_pin .section_function .pager .item+.item { margin-left: 6px; } 
.section_pin .section_function .pager .item::before { content: ''; display: block; background-color: #fff; opacity: 0.2; height: 3px; } 
.section_pin .section_function .pager .item.on::before { opacity: 1; transition: opacity .3s ease; } 
.section_pin .section_function .command { position: absolute; width: 100%; height: 100%; background: url(../img/bg_command.jpg) 50% 50% no-repeat; background-size: cover; } 

/* section_guide */
.section_guide { position: relative; padding: 186px 0 189px; text-align: left; } 
.section_guide::after { content: ''; position: absolute; left: 50%; top: 0; right: 0; bottom: 0; background: url(../img/bg_guide.jpg) 0 50% no-repeat; background-size: cover; } 
.section_guide .inner { overflow: hidden; width: 1176px; margin: 0 auto; } 
.section_guide .inner::after { content: ''; display: block; position: relative; width: 358px; height: 678px; float: left; margin-left: 120px; z-index: 10; background: url(../img/device_guide.png); background-size: cover; } 
.section_guide .text_area { float: left; margin-top: 203px; } 
.section_guide .title { letter-spacing: -1.5px; } 
.section_guide .btn_more { display: inline-block; vertical-align: top; padding: 0 34px; margin-top: 40px; background-color: #00d37a; border-radius: 48.5px; font-size: 18px; font-weight: 900; line-height: 60px; color: #fff; letter-spacing: -.47px; } 

/* footer */
#footer { position: relative; min-width: 1240px; height: 132px; background-color: #191919; color: #666; font-size: 13px; font-weight: 700; line-height: 14px; letter-spacing: -.3px; } 
.footer { overflow: hidden; width: 1140px; padding: 40px 0; margin: 0 auto; } 
.footer_info+.footer_info { margin-top: 18px; } 
.footer_info .logo { display: inline-block; vertical-align: top; } 
.footer_info .logo::before { content: ''; display: block; width: 145px; height: 20px; background: url(../img/sp_svg_icon.png) no-repeat -4px -34px; } 
.footer_info .sns_area { float: right; } 
.footer_info .sns_link { display: inline-block; margin-left: 26px; } 

#footer .sns_area .blog::before { content: ''; display: block; width: 21px; height: 18px; background: url(../img/sp_svg_icon.png) no-repeat -128px -92px; } 
#footer .sns_area .facebook::before { content: ''; display: block; width: 18px; height: 18px; background: url(../img/sp_svg_icon.png) no-repeat -114px -244px; } 
#footer .sns_area .instargram::before { content: ''; display: block; width: 18px; height: 18px; background: url(../img/sp_svg_icon.png) no-repeat -88px -244px; } 
#footer .sns_area .youtube::before { content: ''; display: block; margin-top: -3px; width: 20px; height: 14px; background: url(../img/sp_svg_icon.png) no-repeat -138px -218px; } 

.footer_info .txt_area { float: left; } 
.txt_area .txt { display: inline-block; } 
.txt_area .txt:last-child { margin-left: 198px; } 
.footer_info .more_area { float: right; } 
.more_area .txt { display: inline-block; } 
.more_area .txt:first-child::before { display: none; } 
.more_area .txt::before { content: ''; display: inline-block; width: 1px; height: 10px; margin: 0 12px; background: #2c2c2c; vertical-align: -1px; } 